<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Student_Attendance_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Student_Attendance_System.Properties.Settings>
            <setting name="stayLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="loginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="loginStaffID" serializeAs="String">
                <value />
            </setting>
            <setting name="loginAdmin" serializeAs="String">
                <value />
            </setting>
            <setting name="qrcodePath" serializeAs="String">
                <value />
            </setting>
            <setting name="picPath" serializeAs="String">
                <value />
            </setting>
        </Student_Attendance_System.Properties.Settings>
    </userSettings>
</configuration>